@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Permanent+Marker & family= Poppins:wght@300;500 & display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;

}
