body {
  background-color: black;
}

:root {
  /* fontes utilizadas */
  --font-roboto: "Roboto Slab", serif;
  --font-permanent: "Permanent Marker", cursive;
  --font-poppins: "Poppins", sans-serif;
  --font-playpen: "Playpen Sans", cursive;
  /* cores utilizadas */
  --color-background: #F3DFB5;
  --color-background-2: #9BE0E0;
}

.main {
  position: relative
}

.video-background {
  position: fixed;
  height: 130vh;
  pointer-events: none;
  z-index: -1;
  background: linear-gradient(90deg, black 0%, black 10%, transparent 50%, transparent 100%);
  opacity: 0.5;

}

.video-background::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 20%;

}

.video-background video {
  height: 100%;
  width: 100%;
  object-fit: cover;




}


.img-background-aplication {
  height: 350px;
}

.content-paper-stone-scissors_img-marca {
  display: flex;
  justify-content: center;
}

.img-background-aplication-logo {
  height: 76px;
  margin-top: 32px;
  margin-left: 32px;
  border: 1px solid #00ffcb;
  padding: 10px;
  border-radius: 30px 1px 30px 1px;
  box-shadow: 0 0 30px rgba(0, 255, 203, 0.7);
}


.titulo h5 {

  font-size: 80px;
  text-align: center;
  color: white;
  text-decoration: underline;
    text-transform:uppercase;
    margin-bottom: 10px;
  

}

.explaining-the-game {
  color: #f4f6f6;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  text-align: center;
  margin: 0 100px;
  font-family: var(--font-poppins);



}



.button__access {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(90deg,
      rgba(129, 230, 217, 1) 0%,
      rgba(79, 209, 197, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 1px 6px 18px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  padding: 10px;

}

.button__access:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  top: 2px;
  left: 2px;
}

.texto {
  display: none;
}


